@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&family=Ubuntu:wght@500;700&display=swap");

:root {
  --color-primary: #f46f2c;
  --color-black: #695d47;
  --color-white: #ffffff;
  --color-light-grey: #ccbd90;
  --color-dark-grey: #695d47;
  --color-secondary: #76beb0;
  --color-secondary-grey: #a4e8db;
  --bg-color-primary: #02280b;
  --font-family-base: "ubuntu, sans-serif";
  --font-family-title: "ubuntu, sans-serif";
}

.header-container {
  height: 225px;
  border: 1 solid red;
  background-color: var(--color-white);

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  filter: drop-shadow(5px spx spx crimson);
}

main {
  margin-top: 15rem;
}

#topContact {
  background-color: var(--bg-color-primary);

  color: var(--color-white);
  padding: 5px 100px 0 100px;
}

#topContact p a {
  text-decoration: none !important;
  color: var(--color-white) !important;
}

.social-btn {
  padding-left: 0.5rem;
  font-size: larger;
}

/* .logo {
  width: 250px;
  height: 60px;
} */

.brand-logo {
  width: 150px;
  height: 30px;
}

.nav-item a {
  text-shadow: 3px 3px 5px #a8a6a6;
}

.home a {
  color: var(--color-secondary);
}

.search input {
  padding: 10px;
  font-weight: 600;
}

.search button {
  padding: 0 30px;
  color: var(--color-white);
  background-color: var(--bg-color-primary);
}

/* nav {
  font-weight: 500;
} */

/* * Card section */
#card-sec {
  background-color: #02280b;
}
#card-ttl {
  color: var(--color-white);
  font-size: 2.5rem;
}

.body-bg {
  background-color: var(--bg-color-primary);
}

#card-text {
  color: var(--color-white);
  font-size: 1.3rem;
  text-align: justify;

  line-height: 2.5rem;
}

/* ** Card Section 2 */
#card-tt {
  color: var(--color-secondary);
}

#card-sec2 #card-tt2 {
  width: 160px;
  color: var(--color-white);
  font-size: 2.5rem;

  border-top: 2px solid var(--color-white);
  border-top-color: var(--color-secondary);
  border-top-width: 4px;
}

/* ** Card section 3 */
#card-tt3 {
  color: var(--bg-color-primary);
  margin-bottom: 5px;
}

#card-sec3 ul li a {
  text-decoration: none !important;
  color: gray !important;
  font-weight: 500;
}

#card-sec3 ul li a:hover {
  color: var(--color-secondary) !important;
  font-weight: 700;
}

#card-text3 {
  color: var(--color-dark-grey);
  font-size: 1.3rem;
}

.card-social-icon {
  margin-left: 25px;
}

.h-rule hr {
  border-width: thick;
}

/* * Footer */
.footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  color: var(--color-white);
  background-color: var(--bg-color-primary);
  font-size: larger;
}

.footer a {
  text-decoration: none;
  color: var(--color-white);

  font-weight: bold;
}
